* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e5ddd5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chat-container {
    width: 360px;
    height: 600px;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}


.chat-header {
    background: #075e54;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-header img {
    border-radius: 50%;
}

.user-info h4 {
    font-size: 16px;
}

.user-info span {
    font-size: 12px;
    color: #cceee5;
}


.chat-body {
    flex: 1;
    padding: 15px;
    background: #ece5dd;
    overflow-y: auto;
}

.message {
    max-width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 14px;
}

.received {
    background: #fff;
    align-self: flex-start;
}

.sent {
    background: #dcf8c6;
    align-self: flex-end;
    margin-left: auto;
}


.chat-input {
    display: flex;
    padding: 10px;
    background: #f0f0f0;
}

.chat-input input {
    flex: 1;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.chat-input button {
    margin-left: 8px;
    padding: 8px 14px;
    background: #075e54;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.chat-input button:hover {
    opacity: 0.9;
}
