* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}


header {
    background: #222;
    padding: 15px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}


.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
}

.hero span {
    color: #007bff;
}

.hero p {
    margin: 10px 0;
    font-size: 18px;
}

.btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}


.section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

.section h2 {
    margin-bottom: 15px;
}


.skills-list {
    list-style: square;
    margin-left: 20px;
}


.project-box {
    background: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 4px solid #007bff;
}


footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: #fff;
}


@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    .nav-links {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 8px 0;
    }

    .hero h1 {
        font-size: 30px;
    }
}
